body {
    display: grid;
    gap: 60px;
    font-family: Arial;
    margin: 0;
    margin-top: 60px;
    justify-items: center;
    background: #f7f7f7;
}

p, a, h1, h2, h3 {
    margin: 0;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

#shopping_cart {
    width: 18.75px;
    height: 18.75px;
    position: relative;
    top: 3px;
}

#trending {
    width: 40px;
    height: 40px;
    position: relative;
    top: 3px;
    left: 5px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.menu a {
    background: white;
    padding: 15px 30px;
    border-radius: 4px;
    color: black;
    text-transform: uppercase;
}

.conteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1000px;
}

.introducao {
    background: white;
    padding: 40px;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: center; 
    align-items: end;
    text-align: end;
}

.introducao a {
    padding: 15px 25px;
    background: red;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
}

.detalhe {
    position: relative;
    padding: 2px 40px;
    background: red;
    bottom: 35px;
    left: 80px;
}

.subtitulo {
    align-self: center;
    text-align: end;
    font-size: 64px;
    padding: 40px;
    color: rgba(186, 181, 181, 0.526);
}

.vantagens {
    background: white;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.vantagens-item p {
    grid-column: 2;
}

.rodape {
    background: white;
    text-align: center;
    padding: 60px;
    box-sizing: border-box;
    width: 100%;
}